*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    color: aliceblue;
}


:root{
    --primary-color: #3347B0;
    
}

ul,ol,li{
    list-style: none;
  
}



header {
    display: flex;
    background-color: var(--primary-color);
    padding: 0 80px;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
    
}

header h1 {
    font-size: 1.6rem;
}

header .sair {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

header button {
    background-color:var(--primary-color); 
    color: white;              
    border: none;                    
    border-radius: 5px;   
    font-size: xx-large;     
    cursor: pointer;           
       
}



main {
    height: 78vh;
    width: 100%;
    align-items: center;
    padding: 0 80px;
    } 



.home {
    display: flex;
    justify-content: center;
    padding: 80px;
    gap: 25vh;
}


.dispositivos {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 45vh;
    
 
}

.texto-cursos {
    display: flex;
   
    
}

.texto-cursos h1 {
    font-size: 3rem;
    font-weight: 100; 
    color: black;
}

.dispositivos img {
    width: 550px;
    height: 482px;
}

.destaque-curso {
    color: var(--primary-color);
}

.pessoa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pessoa img {
    width: 550px;
    height: 482px;
}


.cursos {
   display: flex;
   flex-direction: column;
   gap: 25px;
   justify-content: center;
    
}

.botoes-curso {
    display: flex;
    background-color: var(--primary-color);
    width: 35vh;
    height: 20vh;
    align-items: center;
    padding: 40px;
    gap: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.botoes-curso button{
    background-color:var(--primary-color); 
    color: white;   
    padding: 12px;           
    border: none;                    
    border-radius: 5px;   
    font-size: xx-large;     
    cursor: pointer;
}

footer {
    display: flex;
    background-color: var(--primary-color);
    padding: 60px;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

footer .contatos {
  
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .container-contatos {
    display: flex;
    align-items: center;
    gap: 10px;

}

footer .social {
    display: flex;
    align-items: center;
    gap: 30px;
    
}

footer .social img {
    width: 25px;              
    height: 20px;
    
}

footer .container-imagem {
    display: flex;
    padding: 12px;   
    border-radius: 50%;
    border: 2px solid #fff;
}
 