* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;

}


:root {
    --primary-color: #3347B0;

}

ul,
ol,
li {
    list-style: none;

}



header {
    display: flex;
    background-color: var(--primary-color);
    padding: 0 80px;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    color: aliceblue;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

header h1 {
    font-size: 1.6rem;
}

header .sair {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

header button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: xx-large;
    cursor: pointer;

}



main {

    width: 100%;
    align-items: center;
    padding: 12px 200px;
}



.home {
    display: flex;
    justify-content: center;
    padding: 80px 100px;
    gap: 25vh;
}



.dispositivos {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 45vh;


}

.texto-cursos {
    display: flex;


}

.texto-cursos h1 {
    font-size: 3rem;
    font-weight: 100;
    color: black;
}

.dispositivos img {
    width: 550px;
    height: 482px;
}

.destaque-curso {
    color: var(--primary-color);
}

.pessoa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pessoa img {
    width: 550px;
    height: 482px;
}


.cursos {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;

}

.botoes-curso {
    display: flex;
    background-color: var(--primary-color);
    width: 35vh;
    height: 20vh;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 10px;
    box-shadow: 12px 12px 0px rgba(51, 71, 176, 0.3);
}

.botoes-curso button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: xx-large;
    cursor: pointer;
}

/* TURMAS */

.turma-curso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 60px;
}


.container-alunos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 80%;
}

.aluno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    height: 200px;
    width: 180px;
    gap: 15px;
    background-color: var(--primary-color);
}

.aluno img {
    border-radius: 50%;
    height: 80%;
    width: 80%;
}

.aluno p {

    color: aliceblue;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    max-width: 80%;
}


footer {
    display: flex;
    color: #fff;
    background-color: var(--primary-color);
    padding: 30px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

footer .contatos {

    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .container-contatos {
    display: flex;
    align-items: center;
    gap: 10px;

}

footer .social {
    display: flex;
    align-items: center;
    gap: 30px;

}

footer .social img {
    width: 25px;
    height: 20px;

}

footer .container-imagem {
    display: flex;
    padding: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
}